<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logaritmo | Progamação Web</title>
</head>
<body>
    
<h2>Logaritmos</h2>

<p>Entre com um número para calcular o logaritmo natural dele:</p>

<p id="demo"></p>

<script>
document.getElementById("demo").innerHTML = Math.log(1);
</script>

<h2>JavaScript Math.log2()</h2>

<p>Entre com um número para calcular o logaritmo de base 2 dele:</p>
<p>How many times must we multiply 2 to get 8?</p>

<p id="demo2"></p>

<script>
document.getElementById("demo2").innerHTML = Math.log2(8);
</script>

<h2>JavaScript Math.log10()</h2>

<p>Entre com um número para calcular o logaritmo de base 10 dele:</p>

<p id="demo10"></p>

<script>
document.getElementById("demo10").innerHTML = Math.log10(1000);
</script>

</body>
</html>