<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raiz e Potência</title>
</head>
<body>
    <h2>Cálculo de Raiz</h2>
    <form action="/res.php" method="POST">
        <label for="a">Raiz quadrada de:</label><br>
        <input type="float" id="a" name="a" value="a"><br>
        <input type="submit" value="Submit">
      </form> 
      
</body>
</html>
