<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mínimo e Máximo</title>
</head>
<body>

    <script>
        function minimo(){
        a = document.getElementById("ent1").value
        b = document.getElementById("ent2").value
        c = document.getElementById("ent3").value
        d = document.getElementById("ent4").value
        document.getElementById("demo").innerHTML = Math.min(a, b, c, d);
        }
    </script>

    <h2>JavaScript Math.min()</h2>

    <p>Math.min() retorna o menor valor da lista:</p>

    <h3>1)<input type="text" name="ent1" value=""></h3>
    <h3>2)<input type="text" name="ent2" value=""></h3>
    <h3>3)<input type="text" name="ent3" value=""></h3>
    <h3>4)<input type="text" name="ent4" value=""></h3>
    <button onClick="minimo()"></button>
    

    <h3>O menor número é: <b id="demo"></b></h3>
    

<h2>JavaScript Math.max()</h2>

<p>Math.max() retorna o maior valor da lista:</p>

    <h3>1)<input type="text" name="ent5" value=""></h3>
    <h3>2)<input type="text" name="ent6" value=""></h3>
    <h3>3)<input type="text" name="ent7" value=""></h3>
    <h3>4)<input type="text" name="ent8" value=""></h3>
    <button onClick="minimo()"></button>

<h3>O maior número é: <b id="demo2"></b></h3>

<script>
    function maximo(){
        e = document.getElementById("ent5").value
        f = document.getElementById("ent6").value
        g = document.getElementById("ent7").value
        h = document.getElementById("ent8").value
        document.getElementById("demo2").innerHTML = Math.min(e, f, g, h);
    }
</script>
    
    
</body>
</html>