<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raiz e Potência</title>
</head>
<body>
    <h2>Cálculo de Potência</h2>
    <form action="/res.php" method="POST">
        <label for="a">Potência de:</label><br>
        <input type="float" id="a" name="a" value="a"><br>
        <label for="b">Elevado a:</label><br>
        <input type="float" id="b" name="b" value="b"><br><br>
        <input type="submit" value="Submit">
      </form> 
      
</body>
</html>
